* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.App {
    margin: 0 auto;
    text-align: center;
}

.title {
    color: ghostwhite;
    background-color: rgb(37, 39, 39);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.label {
    font-weight: bold;
    padding: 4px;
    margin: 16px;
}

.inputField {
    font-weight: lighter;
    color: gray;
    padding: 4px;
    margin: 16px;
    margin-left: 16px;
}